[push]
    default = simple
[alias]
    gr = log --decorate --pretty=oneline --abbrev-commit --graph -n 15
    st = status -sb --untracked-files=all
[core]
    editor = vi
[rebase]
    autosquash = true
